{% extends 'base.html' %}

{% block title %} Message delete {% endblock %}

{% block content %}
    <h1 class="text-center" style="color: red; font-size: 21px;">Are you sure you want to delete the message??
    </h1>
    <form method="POST" action="" class="text-center">
        {% csrf_token %}
        <input type="submit" value="Да" class="btn btn-danger mt-2 ml-3 mb-3">
        <a class="btn btn-primary mt-2 ml-3 mb-3"
           href="{% url 'response' user.pk response_message.response.resume.pk response_message.response.pk %}">No</a>
    </form>
{% endblock %}
